@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
    background: linear-gradient(to top, #fefcea, #f1da36);

    width: 100%;
    height: 100vh;

    font-family: Source Sans Pro;
    font-size: 1rem;
    font-weight: 700;
}

form {
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background: #eee;
    padding: 60px 20px;
    border-radius: 15px;

    .form-row {
        display: flex;
        justify-content: flex-end;
        padding: .5em;
        margin-bottom: 1rem;
            
        & > input {
            flex: 1;
        }
    }
}

input {
    border-radius: 15px;
    border: 1px solid #000;
    padding: 5px 20px;

    outline: none;
}

label {
    // vertical-align: middle;
    margin-right: 20px;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.myBtn {
  line-height: 3.5em;
  padding: 0 1.5em;
  background: gold;
  box-shadow: inset 0 -.125rem rgba(0,0,0,.2);
  color: black;
  border-radius: 5em;
  cursor: pointer;
  user-select: none;
  transform-origin: 100% 100%;
  font-weight: 700;
  
  &:focus { outline: 0; }
}

.shadow {
  margin-top: -.325rem;
  width: 100%;
  height: .75rem;
  background: radial-gradient(closest-side, gainsboro, transparent);
  opacity: 0;
}
